@using Ecommerce_WebApp.Models;
@model ProductAttribute;
@{
    ViewData["Title"] = "Tạo mới Thuộc tính";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
            <hr />
        </div>

        @* Hiển thị lỗi chung nếu có *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Tạo</button>
        <a asp-controller="ProductAttribute" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Quay lại
        </a>
    </div>
</form>

@* Bật validation phía client *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}