@using Ecommerce_WebApp.Models;
@model ProductAttribute;
@{
    ViewData["Title"] = "Xóa Thuộc tính";
}

@* Form này sẽ POST đến action Delete mà chúng ta đã dùng [ActionName("Delete")] *@
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <hr />
            <h4 class="text-warning mt-2">Bạn có chắc chắn muốn xóa thuộc tính "@Model.Name"?</h4>
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            @* Thêm "disabled" để người dùng không thể sửa *@
            <input asp-for="Name" class="form-control" disabled />
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Xác nhận Xóa</button>
        <a asp-controller="ProductAttribute" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Quay lại
        </a>
    </div>
</form>