
@{
    ViewData["Title"] = "Category";
}

<div class="container my-4">
    <div class="d-flex justify-content-center flex-wrap gap-4">
        <div class="text-center">
            <a href="#">
                <img src="https://macstores.vn/wp-content/uploads/2023/11/icon_macbook_pro_menu.jpg" alt="MacBook Pro" class="img-fluid icon-small img-hover-zoom" />
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                <img src="https://macstores.vn/wp-content/uploads/2023/11/icon_imac_menu.jpg" alt="MacBook Pro" class="img-fluid icon-small img-hover-zoom" />
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                <img src="https://macstores.vn/wp-content/uploads/2023/11/icon_mac_mini_menu.jpg" alt="MacBook Pro" class="img-fluid icon-small img-hover-zoom" />
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                <img src="https://macstores.vn/wp-content/uploads/2023/11/icon_mac_studio_menu.jpg" alt="MacBook Pro" class="img-fluid icon-small img-hover-zoom" />
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                <img src="https://macstores.vn/wp-content/uploads/2023/11/icon_accessories_menu.jpg" alt="MacBook Pro" class="img-fluid icon-small img-hover-zoom" />
            </a>
        </div>
    </div>
</div>


<div class="container">
    <!--BREADCUMP-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><i class="fa fa-home me-3"></i></li>
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/san-pham">Sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">MacBook Air M4</li>
        </ol>
    </nav>

    <h2 class="text-center fs-5">
        Apple MacBook – Máy tính/Laptop đẳng cấp, sang trọng dành cho bạn
    </h2>
    <p><strong>Thương hiệu Apple</strong> chắc sẽ không phải là cái tên xa lạ đối với mọi người. Những sản phẩm mang tính cách mạng và dẫn đầu xu hướng của Apple như <strong>iPod, iPhone, iMac, Macbook Pro, Macbook Air, Mac Studio, Mac Mini, Mac Pro</strong>…. Đối với thị phần ở Việt Nam thì Apple ngày càng được mọi người đón nhận mỗi khi ra sản phẩm mới. Một trong những sản phẩm dẫn đầu xu hướng đó là <strong>Macbook</strong>.</p>
    <p>Macbook mới nhập khẩu chính hãng bởi nhà phân phối, đầy đủ chứng từ nguồn gốc xuất xứ, giá đã bao gồm thuế VAT. Bảo hành đổi mới 30 ngày tại Macstore và 12 tháng bởi nhà phân phối.</p>

    <div>
        <a>
            <h1 class="fs-5 fw-bold">Apple Macbook</h1>
        </a>

        <div class="price_filter">
            <div class="btn_filter d-flex justify-content-between align-items-center"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapseWidthExample"
                 aria-expanded="false"
                 aria-controls="collapseWidthExample"
                 onclick="toggleIcon(this)">
                Chọn giá
                <i class="fa-solid fa-angle-down ms-2" id="toggleIcon"></i>
            </div>
              
            <div class="position-absolute" style="min-height: 120px; z-index:9999">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body border shadow-sm" style="width: 320px;">
                        <label class="form-label fw-bold mb-2">Giá tối đa:</label>

                        <div class="d-flex justify-content-between mb-2">
                            <span>Lọc sản phẩm theo giá:</span>
                            <span>0đ  - </span>
                            <span id="priceValue"> 50.000.000₫</span>
                        </div>

                        <input type="range" class="form-range" id="priceRange" min="10000000" max="50000000" step="1000000" value="50000000">

                        <button class="btn btn-primary btn-sm mt-3 w-100">Áp dụng</button>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="container p-0">
            <div class="row g-0 text-center" id="filterGrid">
                <div class="col filter-item p-3 active">Tất cả</div>
                <div class="col filter-item p-3">Macbook M1</div>
                <div class="col filter-item p-3">Macbook M2</div>
                <div class="col filter-item p-3">Macbook M3</div>
                <div class="col filter-item p-3">iMac</div>
                <div class="col filter-item p-3">Mac Mini</div>
                <div class="col filter-item p-3">Mac Studio</div>
            </div>
        </div>

        <div class="container p-3 py-5 bg-white shadow-sm">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->

                 <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
                <!--PRODUCT CARD-->
                <div class="col">
                    <div class="product_card card h-100 shadow-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
                            <div class="card-body">
                                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                                <ul class="card-description">
                                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                                    <li>
                                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                                    </li>
                                    <li>
                                        Bộ nhớ thống nhất 24GB
                                    </li>
                                    <li>
                                        Ổ lưu trữ SSD 512GB
                                    </li>
                                </ul>
                                <p class="card_price">41.999.000 VND</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!--END PRODUCT CARD-->
            </div>
        </div>


        <div class="container p-0 mt-4">
            <h2 class="text-center">Khách hàng mua hàng tại Macstores.vn</h2>
            <div class="text-center">
                <img  src="https://macstores.vn/wp-content/uploads/2024/01/khach-hang-mua-san-pham-tai-cua-hang-macstores.vn_.jpg" alt="Macstores.vn chân thành cảm ơn Quý Khách Hàng đã tin tưởng"/>
                <p>
                    Khách hàng mua sản phẩm tại Macstores.vn</p></div>
            <p><strong>TRUNG TÂM MUA SẮM MACSTORE – TRUNG TÂM MUA SẮM MAC – LAPTOP UY TÍN</strong></p>
            <ul>
                <li>Hotline: <a href="http://0935023023">0879723014</a> (24/7)</li>
            <li>Email: <a href="anhtai26072004@gmail.com">anhtai26072004@gmail.com</a></li>
            <li>Website: <a href="#">macstoreclone.vn</a></li>
                <li>Cửa hàng: <a href="#">132, Lê Lai, P. Bến Thành, Quận 1, thành phố Hồ Chí Minh</a></li>
            </ul>
        </div>
    </div>
</div>


<script>
    const priceRange = document.getElementById('priceRange');
    const priceValue = document.getElementById('priceValue');

    function formatVND(value) {
        return value.toLocaleString('vi-VN') + '₫';
    }

    priceRange.addEventListener('input', function () {
        priceValue.textContent = formatVND(parseInt(this.value));
    });

    function toggleIcon(button) {
        const icon = button.querySelector('i');
        icon.classList.toggle('fa-angle-down');
        icon.classList.toggle('fa-angle-up');
    }


    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll("#filterGrid .filter-item");

        items.forEach(item => {
            item.addEventListener("click", function () {
                items.forEach(i => i.classList.remove("active"));
                this.classList.add("active");
            });
        });
    });

</script>