<!--PRODUCT CARD-->
<div class="col">
    <div class="product_card card h-100 shadow-sm">
        <a href="#" class="text-decoration-none">
            <img src="~/img/product1.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h4 class="card_product_name">MacBook Air 2025 15 inch – (Chip Apple M4/Ram 24GB/SSD 512GB)</h4>
                <ul class="card-description">
                    <li>Tình trạng: Mới 100%, Nguyên Seal</li>
                    <li>
                        Chip Apple M4 với CPU 10 lõi, GPU 10 lõi và Neural Engine 16 lõi
                    </li>
                    <li>
                        Bộ nhớ thống nhất 24GB
                    </li>
                    <li>
                        Ổ lưu trữ SSD 512GB
                    </li>
                </ul>
                <p class="card_price">41.999.000 VND</p>
            </div>
        </a>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn_addToCart">Thêm vào giỏ</button>
        </div>
    </div>
</div>
<!--END PRODUCT CARD-->