<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce_WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout_customer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productdetail.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body>
    <!-- ===== HEADER ===== -->
    <header class="bg-black text-white px-3 py-2 position-relative" id="mainHeader">
        <div class="container-fluid">
            <!-- MOBILE HEADER -->
            <div class="d-flex d-lg-none justify-content-between align-items-center">
                <!-- Toggle Button -->
                <button class="btn text-white p-0" onclick="toggleMenu()">
                    <i class="fa-solid fa-bars fs-4"></i>
                </button>

                <!-- Logo giữa -->
                <a href="/" class="mx-auto">
                    <img src="~/img/logo.png" alt="Logo" height="26" />
                </a>

                <!-- Icon phải -->
                <div class="d-flex align-items-center gap-3">
                    <!-- Mobile search icon -->
                    <i class="fa-solid fa-magnifying-glass text-white fs-5 cursor-pointer" onclick="toggleSearchOverlay()"></i>
                    <a href="#" class="position-relative">
                        <i class="fa-solid fa-cart-shopping fs-5 text-white"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2</span>
                    </a>
                    <partial name="_LoginPartial" />
                </div>
            </div>

            <!-- DESKTOP HEADER -->
            <div class="d-none d-lg-flex justify-content-between align-items-center">
                <!-- Logo -->
                <a href="/">
                    <img src="~/img/logo.png" alt="Logo" height="30" class="ps-5" />
                </a>

                <!-- Menu full width -->
                <ul class="d-flex flex-grow-1 list-unstyled mb-0 justify-content-center gap-5 align-items-center ms-5 me-5">
                    <!--Mac book -->
                    <li class="nav-item position-relative dropdown-hover">
                        <a href="#" class="text-white text-decoration-none">
                            MacBook <i class="fa-solid fa-caret-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu-custom list-unstyled">
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook M1</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook M2</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook M3</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook M4</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook Air</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">MacBook Pro</a></li>
                        </ul>
                    </li>

                    <!--iMac -->
                    <li class="nav-item position-relative dropdown-hover">
                        <a href="#" class="text-white text-decoration-none">
                            iMac <i class="fa-solid fa-caret-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu-custom list-unstyled">
                            <li><a href="#" class="dropdown-item-custom text-white">iMac M1</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac M3</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac M4</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac 2024</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac 2023</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac 2021</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">iMac 2020</a></li>

                        </ul>
                    </li>

                    <!--Mac Studio -->
                    <li class="nav-item position-relative dropdown-hover">
                        <a href="#" class="text-white text-decoration-none">
                            Mac Studio <i class="fa-solid fa-caret-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu-custom list-unstyled">
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio M1</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio M2</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio M3</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio M4</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio 2025</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio 2023</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Studio 2022</a></li>
                        </ul>
                    </li>

                    <!--Mac Mini -->
                    <li class="nav-item position-relative dropdown-hover">
                        <a href="#" class="text-white text-decoration-none">
                            Mac Mini <i class="fa-solid fa-caret-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu-custom list-unstyled">
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini M4</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini M2</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini M1</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini 2024</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini 2023</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Mac Mini 2020</a></li>
                        </ul>
                    </li>

                    <!--Phụ kiện -->
                    <li class="nav-item position-relative dropdown-hover">
                        <a href="#" class="text-white text-decoration-none">
                            Phụ kiện <i class="fa-solid fa-caret-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu-custom list-unstyled">
                            <li><a href="#" class="dropdown-item-custom text-white">Phụ kiện Apple</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Phụ kiện Window</a></li>
                            <li><a href="#" class="dropdown-item-custom text-white">Phụ kiện Surface</a></li>
                        </ul>
                    </li>

                    <!--Tin tức -->
                    <li><a href="#" class="text-white text-decoration-none">Tin tức</a></li>
                </ul>

                <!-- Icon -->
                <div class="d-flex align-items-center gap-4 pe-5">
                    <i class="fa-solid fa-magnifying-glass text-white fs-5 cursor-pointer" onclick="toggleSearchOverlay()"></i>
                     <!-- User icon with dropdown -->
                    

                    <a href="#" class="position-relative">
                        <i class="fa-solid fa-cart-shopping fs-5 text-white"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2</span>
                    </a>
               
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>

        <!-- MOBILE MENU -->
        <div id="mobileMenu" class="d-lg-none d-none mt-2 px-3">
            <ul class="list-unstyled">
                <li class="py-2"><a href="#" class="text-white text-decoration-none">MacBook</a></li>
                <li class="py-2"><a href="#" class="text-white text-decoration-none">iMac</a></li>
                <li class="py-2"><a href="#" class="text-white text-decoration-none">Mac Mini</a></li>
                <li class="py-2"><a href="#" class="text-white text-decoration-none">Mac Studio</a></li>
                <li class="py-2"><a href="#" class="text-white text-decoration-none">Phụ kiện</a></li>
                <li class="py-2"><a href="#" class="text-white text-decoration-none">Tin tức</a></li>
            </ul>
        </div>
    </header>

    <!-- ===== SEARCH OVERLAY ===== -->
    <div id="searchOverlay"
         class="position-absolute top-0 start-0 w-100 bg-black d-none px-3"
         style="z-index: 1050; height: 46px;">
        <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
            <input type="text"
                   class="form-control form-control-sm w-50 border-0"
                   style="border-radius: 0; height: 32px;"
                   placeholder="Tìm kiếm..." />
        </div>
    </div>


    <!-- ===== BODY ===== -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div class="mb-4"><div class="vc-zigzag-inner" style="width: 100%;min-height: 14px;background: 0 repeat-x url('data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');"></div></div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4 bg-black">
        <!--GIAO HÀNG TẬN NƠI-->
        <div class="col mt-0">
            <div class="text-center mt-2 mb-3">
                <i class="fa fa-truck" style="color: #ffffff; font-size: 42px;"></i>
            </div>
            <div class="text-center mb-2">
                <h5 class="mb-0" style="color: #ffffff; font-size: 16px;">
                    GIAO HÀNG TẬN NƠI
                </h5>
            </div>
            <div class="text-center">
                <p class="mb-1" style="color: #ffffff; font-size: 16px;">Miễn phí giao hàng nội thành</p>
            </div>
        </div>

        <!--ĐỔI TRẢ DỄ DÀNG-->
        <div class="col mt-0">
            <div class="text-center mt-2 mb-3">
                <i class="fa fa-refresh" style="color: #ffffff; font-size: 42px;"></i>
            </div>
            <div class="text-center mb-2">
                <h5 class="mb-0" style="color: #ffffff; font-size: 16px;">
                    ĐỔI TRẢ DỄ DÀNG
                </h5>
            </div>
            <div class="text-center">
                <p class="mb-1" style="color: #ffffff; font-size: 16px;">Miễn phí đổi trong 07 ngày</p>
            </div>
        </div>

        <!--SẢN PHẨM CHÍNH HÃNG-->
        <div class="col mt-0">
            <div class="text-center mt-2 mb-3">
                <i class="fa fa-thumbs-up" style="color: #ffffff; font-size: 42px;"></i>
            </div>
            <div class="text-center mb-2">
                <h5 class="mb-0" style="color: #ffffff; font-size: 16px;">
                    ĐỔI TRẢ DỄ DÀNG
                </h5>
            </div>
            <div class="text-center">
                <p class="mb-1" style="color: #ffffff; font-size: 16px;">Cam kết hàng chính hãng 100%</p>
            </div>
        </div>

        <!--NHẬN HÀNG TRẢ TIỀN-->
        <div class="col mt-0">
            <div class="text-center mt-2 mb-3">
                <i class="fa fa-usd" style="color: #ffffff; font-size: 42px;"></i>
            </div>
            <div class="text-center mb-2">
                <h5 class="mb-0" style="color: #ffffff; font-size: 16px;">
                    NHẬN HÀNG TRẢ TIỀN
                </h5>
            </div>
            <div class="text-center">
                <p class="mb-1" style="color: #ffffff; font-size: 16px;">Tiền mặt, quẹt thẻ, chuyển khoản</p>
            </div>
        </div>
    </div>


    <div class="mb-1"><div class="vc-zigzag-inner" style="width: 100%;min-height: 14px;background: 0 repeat-x url('data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');"></div></div>


    <!-- Footer Start -->
    <footer class="bg-black text-light pt-5 pb-3 mt-2 h-100">
        <div class="container">
            <div class="row g-4">
                <!-- Chính Sách Chung -->
                <div class="col-12 col-md-3 mt-0">
                    <h5 class="title_footer mb-3">Chính Sách Chung</h5>
                    <ul class="list_infor_footer list-unstyled small">
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none ">Chính sách vận chuyển</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none ">Chính sách đổi trả</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none ">Chính sách bảo mật</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none ">Chính sách bảo hành</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none ">Chính sách mua hàng Online</a></li>
                    </ul>
                </div>
                <!-- Tư Vấn Khách Hàng -->
                <div class="col-12 col-md-3 mt-0">
                    <h5 class="title_footer mb-3">Tư Vấn Khách Hàng</h5>
                    <ul class="list_infor_footer list-unstyled small">
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Tư vấn mua hàng</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Hỗ trợ kỹ thuật</a></li>
                    </ul>
                    <h6 class="title_footer mt-4 mb-2">Hình Thức Thanh Toán</h6>
                    <table class="footer-table mb-3">
                        <tr>
                            <td><img src="~/img/logo-vnpay.png" alt="VNPay" width="60" height="32"></td>
                            <td><img src="~/img/logo-atm.png" alt="ATM" width="60" height="32"></td>
                            <td><img src="~/img/logo-master.png" alt="Mastercard" width="60" height="32"></td>
                        </tr>
                        <tr>
                            <td><img src="~/img/logo-samsungpay.png" alt="SamsungPay" width="60" height="32"></td>
                            <td><img src="~/img/logo-jcb.png" alt="JCB" width="60" height="32"></td>
                            <td><img src="~/img/logo-visa.png" alt="Visa" width="60" height="32"></td>
                        </tr>
                    </table>
                </div>
                <!-- Thông Tin Hỗ Trợ -->
                <div class="col-12 col-md-3 mt-0">
                    <h5 class="title_footer mb-3">Thông Tin Hỗ Trợ</h5>
                    <ul class="list_infor_footer list-unstyled small">
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Giới thiệu</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Cài đặt phần mềm</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Hướng dẫn mua hàng Online</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Hướng dẫn thanh toán</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Mua hàng trả góp</a></li>
                        <li><a href="#" class="list_atag_infor_footer text-decoration-none">Liên Hệ</a></li>
                    </ul>
                </div>
                <!-- Thông Tin Công Ty -->
                <div class="col-12 col-md-3 mt-0">
                    <h5 class="title_footer mb-3">Thông Tin Công Ty</h5>
                    <p class="fw-bold mb-1">TRUNG TÂM MUA SẮM MACSTORE</p>
                    <p class="small mb-2">Chuyên kinh doanh các sản phẩm công nghệ như: Mac (Macbook Pro, Macbook Air, iMac, Mac Mini, Mac Pro, Display), Laptop ...</p>
                    <h6 class="title_footer mb-2">Hình Thức Vận Chuyển</h6>
                    <table class="footer-table mb-2">
                        <tr>
                            <td><img src="~/img/nhattin.jpg" alt="Nhat Tin" width="auto" height="32"></td>
                            <td><img src="~/img/viettelpost.png" alt="VNPost" width="48" height="32"></td>
                            <td><img src="~/img/logo-jcb.png" alt="Express" width="48" height="32"></td>
                        </tr>
                        <tr>
                            <td><img src="~/img/giaohangtietkiem.jpg" alt="Other" width="48" height="32"></td>
                            <td><img src="~/img/giaohangnhanh.png" alt="GHN" width="48" height="32"></td>
                            <td><img src="~/img/lt-express.png" alt="J&T" width="48" height="32"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr class="bg-secondary my-4">
            <div class="row align-items-center">              
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="text-center">
                    <img src="~/img/logo.png" alt="Alternate Text" />
                    </div>                  
                    <table class="tg col-12" style="border-collapse: collapse; border-spacing: 0;">
                        <thead >
                            <tr>
                                <td style="font-family: Arial, sans-serif; font-size: 14px; overflow: hidden; padding: 10px 5px; text-align: left; vertical-align: top; word-break: normal; border: 1px solid black;"><a href="" rel="nofollow"><img loading="lazy" decoding="async" src="https://macstores.vn/wp-content/uploads/2022/09/facebook_1.png" width="32" height="32">Facebook</a></td>
                                <td style="font-family: Arial, sans-serif; font-size: 14px; overflow: hidden; padding: 10px 5px; text-align: left; vertical-align: top; word-break: normal; border: 1px solid black;"><a href="" rel="nofollow"><img loading="lazy" decoding="async" src="https://macstores.vn/wp-content/uploads/2022/09/zalo-1.png" width="32" height="32">Zalo</a></td>
                                <td style="font-family: Arial, sans-serif; font-size: 14px; overflow: hidden; padding: 10px 5px; text-align: left; vertical-align: top; word-break: normal; border: 1px solid black;"><a href="" rel="nofollow"><img loading="lazy" decoding="async" src="https://macstores.vn/wp-content/uploads/2022/09/pinterest.png" width="32" height="32">Pinterest</a></td>
                                <td style="font-family: Arial, sans-serif; font-size: 14px; overflow: hidden; padding: 10px 5px; text-align: left; vertical-align: top; word-break: normal; border: 1px solid black;"><a href="" rel="nofollow"><img loading="lazy" decoding="async" src="https://macstores.vn/wp-content/uploads/2022/09/linkedin_1.png" width="32" height="32">Linkedin</a></td>
                            </tr>
                        </thead>
                    </table>
                    <div class="small">
                        <div class="title_bottom_footer fw-bold">TRUNG TÂM MUA SẮM MACSTORE</div>
                        <div class="address_footer">Địa chỉ: <em>132. Lê Lai, P. Bến Thành, Quận 1, Tp. HCM</em></div>
                        <div class="address_footer">Email: <a class="email_bottom text-decoration-none" style="color: #959595;" href="anhtai26072004@gmail.com">anhtai26072004@gmail.com</a></div>
                        <div class="address_footer">Bán hàng: <span class="fw-bold">0879723014</span> (24/7)</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.497282073019!2d106.6910403153347!3d10.77337469232447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3e1b1e1b1b%3A0x1e1b1e1b1e1b1e1b!2zMTMyIEzDqiBMYWcsIFAuIELhur8gVGjhuqduLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1625555555555!5m2!1svi!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ===== SCRIPT ===== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/js/ion.rangeSlider.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
