@model Category
@{
    Layout = "_AdminLayout";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Tạo mới Danh mục</h2>
            <hr />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ParentId"></label>
            <select id="ParentCategoryDropdown" asp-for="ParentId" asp-items="@ViewBag.CategoryList" class="form-control">
                <option value="">-- Đây là danh mục gốc --</option>
            </select>
            <span asp-validation-for="ParentId" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Tạo</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Quay lại
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        // Đợi cho toàn bộ trang được tải xong
        $(document).ready(function() {
            // Khởi tạo Select2 cho dropdown có id là 'ParentCategoryDropdown'
            $('#ParentCategoryDropdown').select2({
                placeholder: "-- Chọn danh mục cha --",
                allowClear: true // Cho phép xóa lựa chọn
            });
        });
    </script>
}