@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="container py-5" style="max-width: 500px;">
    <h3 class="mb-4 text-center">Quên mật khẩu</h3>

    <form asp-action="ForgotPassword" method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" placeholder="Nhập email của bạn" />
            <span  class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Gửi liên kết đặt lại mật khẩu</button>
    </form>

    <div class="text-center mt-3">
        <a asp-action="Login">← Trở về đăng nhập</a>
    </div>
</div>
